.top-bar {
    position: absolute;
    right: 15px;
    top: 0px;
}

#navbar * {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 450;
}

#navbar .fa {
    font-family: "FontAwesome" !important;
}

#navbar.navbar-default {
    background-color: transparent !important;
    border: 0px;
    margin-bottom: 0px !important;
    /*padding-top: 20px;*/
}

#navbar.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #374E64;
}

#navbar.navbar-default .navbar-nav > li > a:hover,
#navbar.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #F58934 !important;
}

#navbar.navbar-default .navbar-nav > .active > a,
#navbar.navbar-default .navbar-nav > .active > a:hover,
#navbar.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
}

#navbar.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

#navbar.navbar-default .navbar-toggle:hover,
#navbar.navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF;
}

#navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
}

#navbar.navbar-default .navbar-toggle:hover .icon-bar,
#navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}

#navbar.navbar .container .navbar-brand {
    padding: 15px;
    position: absolute;
    top: 0px;
}

#navbar.navbar > .container .navbar-brand img {
    max-height: 100px;
}

#navbar.navbar-default .navbar-nav > .open > a {
    color: #FFFFFF;
}

#navbar .navbar-default .navbar-nav > li > a {
    font-weight: bold;
}

/* INICIO DROPDOWN MENU*/
#navbar .navbar-nav > li > .dropdown-menu {
    margin-top: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #F58934;
    padding: 20px 0px;
    width: 300px;
}

#navbar .navbar-nav > li > .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: #F58934;
    content: '';
}

#navbar .navbar-nav > li > .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #FFFFFF;
    white-space: normal;
    text-transform: uppercase;
}

#navbar .navbar-nav > li > .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #F58934 !important;
}
/* FIM DROPDOWN MENU*/

@media (min-width: 767px) and (max-width: 1200px) {
    #navbar.navbar > .container .navbar-brand {
        padding-top: 25px;
    }

    #navbar.navbar > .container .navbar-brand img {
        max-height: 80px;
        max-width: 300px;
    }
}

@media (min-width: 767px) and (max-width: 992px) {


}

@media (max-width: 767px) {
    .top-bar {
        display: none;
    }

    #navbar.navbar {
        margin-bottom: 0px !important;
    }

    #navbar.navbar-default {
        padding-top: 0px !important;
    }

    #navbar.navbar .navbar-header {
        border-bottom: 2px solid #f1f1f1;
    }

    #navbar.navbar .container .navbar-brand {
        padding: 15px;
        position: relative;
        color: #FFFFFF !important;
    }

    #navbar.navbar-default .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #FFFFFF;
    }

    #navbar.navbar > .container .navbar-brand img {
        height: 50px;
    }

    /* INICIO DROPDOWN MENU*/
    #navbar .navbar-nav > li > .dropdown-menu {
        width: 100%;
    }

    #navbar .navbar-nav > li > .dropdown-menu > li > a,
    #navbar .navbar-nav > li > .dropdown-menu > li > a:focus,
    #navbar .navbar-nav > li > .dropdown-menu > li > a:hover {
        color: #FFFFFF !important;
        background-color: #F58934 !important;
        padding-bottom: 5px;
    }

    #navbar .navbar-nav > li > .dropdown-menu:before {
        display: none;

    }
    /* FIM DROPDOWN MENU*/
}